etc/site.py
db/progress/store/*.db
db/progress/store/*.lk
db/progress/store/*.lic
db/progress/store/*.st
db/progress/store/*.lg
db/progress/store/*.pf
db/progress/store/cache/*
db/progress/store/migrations
cache/dict
cache/tabledict
cache/dump_dicts.p
db/progress/store/ix/*
db/progress/store/bi/*
db/progress/store/db/*
tms/test/db/*.db
tms/test/db/*.lk
tms/test/db/*.st
tms/test/db/*.pf
tms/test/db/*.lg
tms/test/db/*.lic
tms/test/db/migrations
tms/test/db/ix/*
tms/test/db/bi/*
tms/test/db/db/*
tmsrpc/cctool/src/version.i
tmsrpc/dextra/src/version.i
tmsrpc/heat/src/version.i
tmsrpc/masmovil/src/version.i
tmsrpc/mnp/src/version.i
tmsrpc/mnp_mock/src/version.i
tmsrpc/newton/src/version.i
tmsrpc/newton/rpcmethods/*
tmsrpc/mnp_mock/rpcmethods/doc*
tmsrpc/mnp_mock/rpcmethods/*
tmsrpc/newton/rpcmethods.pl
tmsrpc/newton/ushak
tmsrpc/selfservice/src/version.i
tmsrpc/topup/src/version.i
tmsrpc/viptool/src/version.i
*.r
*.pyc
*.orig
distinfo
.usepike
.initialized
.DeployMakefile.py
var/log/*.log
var/run/*
docs/robodoc/*
tms/tms.pl
tools/gearbox
tools/dotr
tools/fcgi_agent
tools/multitenancy
tools/stompAdapter
tools/QStomp
support/*/*.out
docs/modulegraph/all_runs.dot
docs/modulegraph/*.png
var/log/eventlog/*.log
var/log/usagelog/*.log
docs/codemeta/xref
docs/codemeta/pp
docs/codemeta/*_runs
docs/codemeta/*_indexes
