options:
    --doc docs/robodoc/@MODULE@
    --src @MODULE@
    --html
    --multidoc
    --sections
    --sectionnameonly
    --index
    --tabsize 3
    --documenttitle "ccbs @MODULE@ source code documentation"
    --syntaxcolors
    --source_line_numbers
headertypes:
    p Procedures procedure
ignore files:
    i
    .svn
    db
    Makefile
items:
    SOURCE
    NAME
    COPYRIGHT
    SYNOPSIS
    USAGE
    FUNCTION
    DESCRIPTION
    PURPOSE
    AUTHOR
    CREATION DATE
    MODIFICATION HISTORY
    HISTORY
    INPUTS
    INPUT
    ARGUMENTS
    OPTIONS
    PARAMETERS
    SWITCHES
    OUTPUT
    SIDE EFFECTS
    RESULTS
    RESULT
    RETURN VALUE
    EXAMPLE
    NOTE
    NOTES
    DIAGNOSTICS
    WARNINGS
    ERRORS
    BUGS
    TODO
    IDEAS
    PORTABILITY
    SEE ALSO
    METHODS
    NEW METHODS
    ATTRIBUTES
    NEW ATTRIBUTES
    TAGS
    COMMANDS
    DERIVED FROM
    DERIVED BY
    USES
    CHILDREN
    USED BY
    PARENTS
    DATATYPE
    NOTE
    INHERITED FROM
    IMPLEMENTS
source items:
    SYNOPSIS
ignore items:
    HISTORY
accept files:
    *.cls
    *.p
header markers:
    /****
remark markers:
    *
end markers:
    ****/
    /****/
    END METHOD.
    END CONSTRUCTOR.
    END DESTRUCTOR.
    END FUNCTION.
    END PROCEDURE.
header separate characters:
    ,
header ignore characters:
    [
remark begin markers:
    /*
remark end markers:
    */
keywords:
    METHOD
    DO
    END
    CONSTRUCTOR
    CLASS
    INTERFACE
    DESTRUCTOR
    PUBLIC
    PRIVATE
    PROTECTED
    PROPERTY
    GET
    SET
    DEF
    DEFINE
    INPUT
    OUTPUT
    VAR
    VARIABLE
    PARAM
    PARAMETER
    AS
    RETURN
    UNDO
    THROW
    NEW
    CAST
    DYNAMIC
    FIND
    FOR
    EACH
    FIRST
    LAST
    WHERE
    AVAILABLE
    IF
    AND
    OR
    THEN
    ELSE
    VOID
    INT
    INTEGER
    CHAR
    CHARACTER
    LOG
    LOGICAL
    DATETIME-TZ
    DATE
    DEC
    DECIMAL
    HANDLE
    TEMP-TABLE
    CREATE
    EXCLUSIVE
    SHARED
    NO
    NOT
    UNDO
    ERROR
    WAIT
    LOCK
    NUM
    ENTRIES
    ENTRY
    LOOKUP
    EQ
    GT
    LT
    LE
    GE
    NE
    CHR
    ASC
    SESSION
    TRIM
    SUBSTRING
    LENGTH
    BEGINS
    MATCHES
    TRUE
    FALSE
